/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
* {
  margin: 0;
  padding: 0;
  font-size: 10pt;
  font-family: Arial;
}
.magic-mirror .machine-number-box {
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}
.magic-mirror .machine-number-box input[type=number] {
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
.magic-mirror .machine-list {
  border-collapse: collapse;
  margin-bottom: 10px;
}
.magic-mirror .machine-list,
.magic-mirror .machine-list td,
.magic-mirror .machine-list th {
  border: solid 1px #cccccc;
  padding: 5px;
  text-align: center;
}
.magic-mirror .machine-list input[type=text] {
  width: 70px;
  border: none;
  background: #f9f9f9;
}
